.signup_window {
    height: 769px;
    background:#2ECC71;
}
.signup_window__title {
    color: #FFF;
    font-size: 52px;
    font-family: Open Sans;
    font-weight: 700;
    margin-bottom: 30px ;

}
.signup_window__description {
    color: #FFF;
    font-size: 32px;
    font-family: Open Sans;
}

.signup_window__btn {
    white-space: nowrap;
    display: flex;
    width: 255px;
    height: 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    border-radius: 10px;
    border: 3px solid rgba(52, 167, 246, 0.00);
    background: #252525;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

}

.signup_window__blog__img {
    width: 613.555px;
    height: 656.731px;
    background: url(../images/phone.svg), lightgray 50% / cover no-repeat;
    background-position-x: -60px;
    background-position-y: center;
    flex-shrink: 0;
    background-color: inherit;
}

.singup_window_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.singup_window_blog__text {
    width: 652px;
    padding-bottom: 48px;
}

.signup_window__blog__btn {
    padding-bottom: 264px;
}

.signup_window_text_btn {
    padding-top: 212px;
    padding-bottom: 264px;
    height: 100%;
}
